.container{
    width: 25rem;
    height: auto;
    padding: 1remm;
    background-color: blue;
    margin-bottom: 0.5rem;
}
.text-box h2{
    color: white;
    font-size: 1.5rem;
}
.text-box p{
    color: white;
}
/*Breakpoint: 575px */
@media (min-width: 575px){
    .container{
        background: red;
        margin-bottom: 1rem;
    }
}

/*Breakpoint: 768px */
@media (min-width: 768px){
    .container{
        width: 40.6rem;
        background: green;
        margin-bottom: 1.12rem;
    }
    .text-box h2,
    .text-box p{
        color: aqua;
    }
}

/*Breakpoint: 768px */
@media (min-width: 992px){
    body{
        height: 100vh;
        width: 100vh;
        padding: 0;
        background-color: black;
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .container{
        width: 43.7rem;
        padding: 1.25rem;
        background: black;
        display: flex;
        margin-right: 0.5rem;
        justify-content: center;

    }

    .text-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .text-box h2{
        color: green;
        font-size: 3rem;

    }
    .text-box p{
        color: white;
        font-size: 1.5rem;
    }
}